<h2>Commande Élève</h2>

<form action="/eleve" method="post">
  Nom: <input type="text" name="nom"><br>
  Prénom: <input type="text" name="prenom"><br>
  Classe: <input type="text" name="classe"><br>

  Sandwich:
  <input type="text" name="sandwich"><br>

  Crudités:
  <select name="crudites">
    <option>Oui</option>
    <option>Non</option>
  </select><br>

  <button type="submit">Envoyer</button>
</form>