<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>IPES </h1>

<div class="menu">
  <a href="/eleve">Élève</a><br>
  <a href="/professeur">Professeur</a><br>

  <form action="/admin_login" method="post">
    <input type="password" name="password" placeholder="Mot de passe admin">
    <button type="submit">Admin</button>
  </form>
</div>

</body>
</html>