<h2>Commande Professeur</h2>

<form action="/professeur" method="post">
  Prénom: <input type="text" name="prenom"><br>

  Sandwich:
  <input type="text" name="sandwich"><br>

  Crudités:
  <select name="crudites">
    <option>Oui</option>
    <option>Non</option>
  </select><br>

  <button type="submit">Envoyer</button>
</form>